@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* COLORS */

:root {

    /* LIGHT THEME */ 

    --primary-color: #fff;
    --alternative-primary-color: #fafafa;
    --second-color: #000;
    --text-highlight: grey;
    --border-pattern: #eaeaea;
    --link-ascendent: #0000ff;
    --background-transparent: transparent;

    /* DARK THEME */



}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "ribbon"
        "navbar"
        "banner"
        "main"
        "footer";
    grid-template-rows: 3rem 5.5rem 47.5rem 1fr 3rem;

}

/* RIBBON */

.ribbon {
    background-color: var(--second-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
}

#ribbon-content {
    font-size: .85rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1px;
    color: var(--primary-color);
}

#ribbon-a {
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--link-ascendent);
    text-decoration: none;
    line-height: 1.6;
}

#ribbon-a:hover {
    border-bottom: 1px solid var(--link-ascendent);
}

/* NAVBAR */

.navbar {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-pattern);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 100px 0px;
    justify-content: space-between;
}

#logo {
    width: 350px;
    cursor: pointer;
}

.navbar-ramifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

#a-top {
    text-decoration: none;
    color: var(--text-highlight);
    transition: all 0.3s ease;
}

#a-top:hover {
    color: var(--second-color);
}

#a-top-sel {
    text-decoration: none;
    color: var(--link-ascendent);
}

.navbar-user-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#nav-btns {
    width: 48px;
    height: 40px;
    background-color: var(--background-transparent);
    border: 1px solid var(--border-pattern);
    border-radius: 6px;
    color: var(--text-highlight);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 0.3s ease;
}

#nav-btns:hover {
    border: 1px solid var(--second-color);
    color: var(--second-color);
}

#nav-more {
    width: 48px;
    height: 40px;
    background-color: var(--background-transparent);
    border: none;
    border-radius: 6px;
    color: var(--text-highlight);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 0.3s ease;
}

#nav-more:hover {
    color: var(--second-color);
}

/* BANNER */

.banner {
    background-image: url(/assets/microsoft-365-oUbzU87d1Gc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: 10.0;
}