@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/coolvetica-2');
@import url('https://fonts.cdnfonts.com/css/avenir');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "navbar"
        "main"
        "footer";
    grid-template-rows: 5.5rem 1fr 34rem;
    user-select: none;
}

.navbar {
    padding: 0px 150px 0px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 250px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#logo:hover {
    transform: scale(1.02);
}

.nav-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#nav-a {
    color: #444444;
    text-decoration: none;
    transition: all 0.3s ease;
}

#nav-a:hover {
    color: black;
    border-bottom: 1px solid #111;
}

#nav-a-sel {
    color: #0069AA;
    text-decoration: none;
}

.divider {
    width: 1px;
    height: 32px;
    background-color: #9d9d9d;
}

.nav-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 35px;
    padding: 0px 10px 0px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #9c9c9c;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#cart-icn {
    font-size: 20px;
    color: #444444;
}

#account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 35px;
    padding: 0px 10px 0px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #9c9c9c;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#account:hover {
    transform: scale(1.05);
}

#cart:hover {
    transform: scale(1.05);
}

#account-icn {
    font-size: 20px;
    color: #444444;
}

.start-menu {
    width: 100%;
    height: 600px;
    background-image: url(/assets/shop-background-2023.svg);
    display: grid;
    grid-template-areas: 
        "left right";
    grid-template-columns: 50% 50%;
    padding: 0px 150px 0px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.menu-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px;
    width: 100%;
    height: 32px;
    gap: 24px;
}

.circle-sel {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 1000px;
    cursor: pointer;
}

.circle {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 1000px;
}

#menu-title {
    font-size: 32px;
    font-family: 'Avenir', sans-serif;
}

#menu-subtitle {
    font-size: 1.1rem;
    font-family: 'Avenir';
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#store-img {
    width: 500px;
}

.left-btns {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

#coupon-btn {
    width: 180px;
    height: 50px;
    font-size: 1rem;
    font-family: 'Avenir';
    color: white;
    background-color: #1f1ff7;
    border: none;
    border-radius: 32px;
    cursor: copy;
}

.learn-btn {
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

#learn:hover {
    border-bottom: 1px solid #0069AA;
}

.btn-circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#arrow-left:hover {
    transition: all 0.3s ease-in-out;
    transform: translate(-5px);
    cursor: pointer;
}

#arrow-left:not(:hover) {
    transition: all 0.3s ease-in-out;
    transform: translate(5);
}

#arrow-right:hover {
    transition: all 0.3s ease-in-out;
    transform: translate(5px);
    cursor: pointer;
}

#arrow-right:not(:hover) {
    transition: all 0.3s ease-in-out;
    transform: translate(5);
}

.main {
    padding: 0px 0px 16px;
}

#main-title {
    margin-top: 24px;
    text-align: center;
    padding: 10px;
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.main-content {
    gap: 32px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 150px 0px;
    align-items: center;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    background-color: rebeccapurple;
}

#search-field {
    width: 45rem;
    height: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0px 16px 0px;
    font-size: 1rem;
    color: #444444;  
    outline: none;
    border-bottom: 1px solid #444444;
    transition: all 0.3s ease;
}

#search-field:focus {
    border-bottom: 1px solid blue;
}

/* FLOAT ICON (SUPPORT) */

.chat-icon {
    cursor: pointer;
    position: fixed;
    left: 86.3%;
    top: 90%;
    width: 240px;
    height: 70px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease;
}

.chat-icon:hover {
    transform: translateY(-10px);
}

#support-profile {
    width: 36px;
}

.support-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

#support-title {
    font-weight: 500;
}

#support-subtitle {
    color: #1f1ff7;
}

#support-subtitle:hover {
    text-decoration: underline;
}

.shop-carrousel {
    width: 100%;
    height: auto;
}

#section-name {
    position: relative;
    left: 145px;
}

.carrousel-content {
    width: 100%;
    height: 100%;
    padding: 24px 24px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.carrousel-circle {
    width: 56px;
    height: 56px;
    background-color: #44444485;
    border-radius: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.carrousel-circle:hover {
    transform: scale(1.09);
}

#right-arrow {
    font-size: 24px;
}

#left-arrow {
    font-size: 24px;
}

.card {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.04);
}

/* FOOTER */

.footer {
    border-top: 1px solid #eaeaea;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding: 56px 16px 48px;
    width: 80%;
    height: 100%;
    gap: 2px;
}

.categories-group {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.categorie-title {
    width: 100%;
    height: auto;
    padding: 0px 0px 20px;
}

.categorie-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#a-fotter-links {
    text-decoration: none;
    color: #666;
    transition: all 0.3s ease;
}

#a-fotter-links:hover {
    color: black;
}

#c-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: #000;
}

.categorie {
    width: 350px;
    height: auto;
}

.footer-logo {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

#f-logo {
    width: 200px;
    cursor: pointer;
}

#copyright {
    font-size: 12px;
    color: #666;
    line-height: 1.6;
}

